---
title: Onix
headerLinkCareers: active
---
extends layouts/layout
block content
	// careers
	.section.careers
		.careers__main
			.careers__container.container
				.careers__wrap
					.careers__stage join onix
					h1.careers__title.h1 We are hiring
					.careers__info Onix delivers tamper-proof inputs, outputs, and computations to support advanced smart contracts on any blockchain
			.careers__images
				.careers__image
					img(src="img/lines-4.svg" alt="")
				.careers__image.js-parallax(data-speed="1.5")
					img(src="img/figures/figure-1.png" alt="")
				.careers__image.js-parallax(data-speed="1.7")
					img(src="img/figures/figure-2.png" alt="")
				.careers__image.js-parallax(data-speed="1.5")
					img(src="img/figures/figure-5.png" alt="")
		.careers__wrapper
			.careers__container.container
				.careers__list
					.careers__item
						.careers__details
							.careers__line
								.status-pink.careers__status REMOTE
								.status-green.careers__status FULL-TIME
							.careers__subtitle.h3 Visual Designer
							.careers__content Stay current on the latest Onix project developments, news, and content, updated daily.
							a.careers__apply(href="https://ui8.net/" target="_blank") Apply now
								+i('arrow-right')
						.careers__preview
							img(src="img/blog/photo-1.png" alt="")
					.careers__item
						.careers__details
							.careers__line
								.status-pink.careers__status REMOTE
								.status-yellow.careers__status CONTRACT
							.careers__subtitle.h3 Web3 Developer
							.careers__content Stay current on the latest Onix project developments, news, and content, updated daily.
							a.careers__apply(href="https://ui8.net/" target="_blank") Apply now
								+i('arrow-right')
						.careers__preview
							img(src="img/blog/photo-2.png" alt="")
					.careers__item
						.careers__details
							.careers__line
								.status-pink.careers__status REMOTE
								.status-green.careers__status FULL-TIME
							.careers__subtitle.h3 Project Manager
							.careers__content Stay current on the latest Onix project developments, news, and content, updated daily.
							a.careers__apply(href="https://ui8.net/" target="_blank") Apply now
								+i('arrow-right')
						.careers__preview
							img(src="img/blog/photo-3.png" alt="")
					.careers__item
						.careers__details
							.careers__line
								.status-pink.careers__status REMOTE
								.status-yellow.careers__status CONTRACT
							.careers__subtitle.h3 3D Illustrator
							.careers__content Stay current on the latest Onix project developments, news, and content, updated daily.
							a.careers__apply(href="https://ui8.net/" target="_blank") Apply now
								+i('arrow-right')
						.careers__preview
							img(src="img/blog/photo-4.png" alt="")
					.careers__item
						.careers__details
							.careers__line
								.status-pink.careers__status REMOTE
								.status-green.careers__status FULL-TIME
							.careers__subtitle.h3 Frontend Developer
							.careers__content Stay current on the latest Onix project developments, news, and content, updated daily.
							a.careers__apply(href="https://ui8.net/" target="_blank") Apply now
								+i('arrow-right')
						.careers__preview
							img(src="img/blog/photo-1.png" alt="")
	include includes/reviews
	include includes/join





