---
title: Onix
---
extends layouts/layout
block content
	.container(style="padding: 200px 30px 40px; line-height: 2;")
		a(href='index.html') Home page
		br
		a(href='about-us.html') About us page
		br
		a(href='technology.html') Technology page
		br
		a(href='blog.html') Blog page
		br
		a(href='blog-details.html') Blog details page
		br
		a(href='careers.html') Careers page
		br
		a(href='contact.html') Contact page
