// join
.join
	.join__container.container
		.join__wrap
			.join__title.h2 Want to get involved?
			.join__info Or learn all about <a href="#" target="_blank">how to build on Onix</a>.
			a.button.join__button(href="https://ui8.net/" target="_blank")
				span JOIN THE COMMUNITY
		.join__images
			.join__image
				img(src="img/join/lines.svg" alt="")
			.join__image.js-parallax(data-speed="1.5")
				img(src="img/figures/figure-1.png" alt="")
			.join__image.js-parallax(data-speed="1.2")
				img(src="img/figures/figure-2.png" alt="")
			.join__image.js-parallax(data-speed="1.3")
				img(src="img/join/image-3.svg" alt="")
			.join__image.js-parallax(data-speed="1.5")
				img(src="img/figures/figure-5.png" alt="")
			.join__image.js-parallax(data-speed="1.3")
				img(src="img/figures/figure-6.png" alt="")